@import url('https://fonts.googleapis.cpm/css2?famify=Oxanium:wight@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

body {
    
    text-align: center;
    background-color: linear-gradient(to bottom, #74ebd5, #ACB6E5);
    min-height: 100vh;
}

main {
 
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;
}

.pokedex {

    width: 100%;
    max-width:425px
}

.pokemon_image {
    position: absolute;
  bottom: 55%;
  left: 50%;
  transform: translate(-63%, 20%);
  height: 18%;
}

.pokemon_data {
    position: absolute;
    font-weight: 600;
    color: white;
    top:54.5%;
    right:32%;
    font-size:clamp(8px, 5vw, 20px);
    
}
.pokemon_name {
    
    color:white;
    text-transform: uppercase;

}
.pokemon_type {
    position: absolute;
    font-weight: 600;
    color: white;
    top:5%;
    right:28%;
    font-size:clamp(6px, 5vw, 17px);
    
}
.form {
    position: absolute;
    width: 65%;
    top:71%;
    left: 13.5%;
   
}

.input_search {
    width: 90%;
    padding: 2.5%;
    outline: none;
    border: 2px solid #333;
    border-radius: 5px;
    font-weight: 600;
    color: #4b3421;
    font-size: clamp(8px, 5vw, 1rem);
    box-shadow: -3px 4px 0 #333, -5px 7px 0 #918e6d;

}

.form_type {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-weight: 600;
   

}
.input_type {
    width: 80%;
    padding: 1%;
    font-weight: 600;
    background-color: #918e6d;
    font-size: clamp(8px, 5vw, 1rem);
    border: 2px solid #333;
    border-radius: 3px;
    box-shadow: -3px 3px 0 #333, -4px 6px 0 #000;
    pointer-events: none;
    
    
}



.buttons {
    position: absolute;
    bottom: 10%;
    left: 50%;
    width:55%;
    transform: translate(-57% , 0);
    display: flex;
    gap: 20px;


}

.button {
    width: 50%;
    padding: 3%;
    font-weight: 600;
    color: #102820;
    font-size: clamp(8px, 5vw, 1rem);
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: -3px 4px 0 #333, -4px 6px 0 #000;
    background-color: #caba9c;
   
}

.button:active {
    box-shadow: inset -4px 4px 0 #333;
    font-size:  0.9rem;
 
}

