@import url('https://fonts.googleapis.cpm/css2?famify=Oxanium:wight@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

body {
    
    text-align: center;
    background-color: linear-gradient(to bottom, #74ebd5, #ACB6E5);
}

main {
    background-color: red;
    display: inline-block;
    margin-top: 2%;
}